{% extends 'layouts/base.html' %} {% block title %} Beranda {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{{url_for('static', filename='assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='assets/vendors/ti-icons/css/themify-icons.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/js/select.dataTables.min.css')}}" />
<!-- End plugin css for this page -->
{% endblock stylesheets %} {% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 mb-xl-0">
            <h6 class="font-weight-normal mt-2 mb-4">Beranda</h6>
            {% if user['role'] == 'mahasiswa' %}
            <h3 class="font-weight-bold my-2">Selamat datang, {{user['nama']}}</h3>
            {% else %}
            <h3 class="font-weight-bold my-2">Selamat datang, {{user['username']}}</h3>
            {% endif %}
          </div>
        </div>

        <!-- current date and time -->
        <div class="row">
          <div class="col my-2">
            <div class="justify-content-end d-flex">
              <div class="badge badge-info m-2" id="currentDate"></div>
              <div class="badge badge-info m-2" id="currentTime"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jadwal terkini -->
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card transparent">
          <div class="card-body p-0">
            <p class="card-title">Pertemuan Hari Ini</p>
            <div class="row">
              <div class="col-sm-4 col-md-6 col-xl-12 grid-margin transparent">
                <div class="row" id="perkuliahanData" style="display: none">{{ perkuliahan | tojson}}</div>
                <div class="row" id="perkuliahanContainer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>
{% endblock content %}

<!-- Specific Page Vendor JS goes HERE  -->
{% block javascripts %}
<!-- Custom js for this page-->
<script src="static/assets/js/dashboard.js"></script>
<script src="static/assets/js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
{% endblock javascripts %}
